.positionTop {
	position:absolute;
	top:0px;
	width:100%
}

.positionBotton {
	position:absolute;
	bottom:0px;
	width:100%
}

.localButton {
	height: 32px;
}

img.icon {
	display: inline;
	width: 20px;
}

.btn-delete {
    background-color: red;
    color: black;
    border: 2px solid black;
    border-radius: 50%;
    width: 150px; /* Ajustez la largeur et la hauteur selon vos besoins */
    height: 150px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    display: block; /* Pour centrer le bouton */
    margin: 0 auto; /* Pour centrer le bouton */
    text-align: center; /* Pour centrer le texte à l'intérieur du bouton */
    line-height: 150px; /* Pour centrer le texte à l'intérieur du bouton */
    outline: none; /* Pour supprimer la bordure de focus */
  }
