.positionTop {
	position:absolute;
	top:0px;
	width:100%
}

.positionBotton {
	position:absolute;
	bottom:0px;
	width:100%
}

.localButton {
	height: 32px;
}

img.icon {
	display: inline;
	width: 20px;
}

.btn-delete {
  background-color: red;
  color: white;
  border: none;
  border-radius: 50%;
  width: 150px; /* Ajustez la largeur et la hauteur selon vos besoins */
  height: 150px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  outline: none; /* Pour supprimer la bordure de focus */
}