.positionTop {
	position:absolute;
	top:0px;
	width:100%
}

.positionBotton {
	position:absolute;
	bottom:0px;
	width:100%
}

.localButton {
	height: 32px;
}

img.icon {
	display: inline;
	width: 20px;
}

